button {
    padding: 5px 10px;
    background-color: chocolate;
    border: 1px solid chocolate;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}

.registration-row {
    max-width: 500px;
    margin: 10px auto;
    display: flex;
    justify-content: center;

    &:first-child {
        margin-top: 70px;
    }

    > label {
        display: inline-block;
        width: 20%;
        line-height: 40px;
    }

    > input, > select {
        width: 80%;
        border: 1px solid chocolate;
        border-radius: 5px;
        height: 40px;
        padding: 10px;
        box-sizing: border-box;
    }

    

    > div {
        margin-right: -20%;
    }
}

.registration-controls {
    padding: 0 40px;
    margin-top: 40px;
}
